
/*Big tablet to 1200px (width smaller than the 1140px row*/
@media only screen and (max-width: 1200px){

	.hero-box{
		width: 70%;
		color: blue;
		padding-top: -20%;
		position: relative;
		top: 50%;
	}

	.row{
		padding: 0 2%;
	}
	.review p{
		padding-bottom: 5%;
	}
	.youtube iframe{
		width: 60%;
		height: 100%;
}
	.main-nav{
		padding-bottom: 15px;
	}
	.main-nav li{
		margin-left: 10px;
	}
	.main-nav li a{
		font-size: 70%;
	}
	.sec-nav li{
		padding-top: 5px;
	}
	.sec-nav p{
		font-size: 70%;
	}
	.sec-nav li a{
		padding-top: 5px;
	}

}



/*Small tablets to big tablet: from 768px to 1023px*/
@media only screen and (max-width: 1023px){

	.hero-box{
		width: 70%;
		color: yellow;
		padding-top: -20%;
		position: relative;
		top: 50%;
	}

	.review p{
		padding-bottom: 5%;
	}
	.youtube iframe{
		width: 60%;
		height: 100%;

	}
	.main-nav li a{
		display: block;
		padding: 14px 16px;
	}
	.sale_offers img{
		width: 90%;
		display: block;
	}
	.sale_offers .textbox{
		margin: auto;
		display: block;
	}


}


/*Small phones to small tablets: from 481px to 767px*/
@media only screen and (max-width: 767px){

	.hero-box{
		width: 70%;
		padding-top: -20%;
		position: relative;
		top: 50%;
	}
	.review p{
		padding-bottom: 5%;
	}
	.youtube iframe{
		width: 60%;
		height: 100%;
	}
	.main-nav li a{
		display: block;
		padding: 0px 200px;
	}
	.logoimage{
		visibility: hidden;
	}
	.sale_offers img{
		width: 100%;
		display: inline-block;
	}
	.sale_offers .textbox{
		margin: auto;
	}
	.paragraph{
	font-size: 100%;
	text-align: center;
}

}



/*Small phones: from 0 to 480 px*/
@media only screen and (max-width: 480px){

	.hero-box{
		width: 40%;
		padding-top: -20%;
		position: relative;
		top: 100px;
	}

	.logoimage{
		visibility: hidden;
	}
	.review p{
		padding-bottom: 5%;
	}
	.youtube iframe{
		margin: auto;
		display: block;
		width: 60%;
		height: 100%;

	}
	.rentalp{
		width: 100%;
		float: left;
	}
	.main-nav li a{
		display: block;
		margin: auto;
		padding: 0px 100px;
		float: left;
	}
	.sec-nav li{
		display: block;
		margin-left: 10px;
		padding: 0px 30px;
		float: left;
	}
	.sale_offers img{
		width: 100%;
	}
	.sale_offers .textbox{
		margin: auto;
	}
	h3, h4, p{
		font-size: 50%;
	}
	.bio{
		margin-left: 20%;
	}
}
